#waybar {
    background-color: #1c2123;
    color: #c7ccd1;
    font-family: Source Sans Pro;
    font-size: 17px;
    font-weight: 600;
}

#clock {
    color: #f3f4f5;
    padding: 10px 25px 10px 0;
}

#tray {
    padding: 10px 0 10px 25px;
}
